---

const headingColor = "text-neutral-900 dark:text-neutral-100"
const contentColor = "text-neutral-500 dark:text-neutral-400"
const linkColor = "text-neutral-600 dark:text-neutral-300"

---

<footer class="not-content !mt-14 text-xs">
  <h5 class="text-lg font-semibold mb-3" class:list={headingColor}>Frontend Bay License</h5>
  <div class="flex flex-col gap-2">
    <div class:list={contentColor}>
      Frontend Recipes and patterns (excluding any trademarks) are shared under a Creative Commons 
      <a class:list={linkColor} class="hover:underline font-semibold" href="https://creativecommons.org/licenses/by-nc/4.0/" target="_blank" rel="noopener noreferrer">CC BY-NC 4.0</a>.
      <span class:list={contentColor}>
        This license requires that you give credit to the creator. It allows you to distribute, remix, adapt, and build upon the material in any medium or format, for noncommercial purposes only.
      </span>
    </div>
  </div>
</footer>
