---
import Avatar from '../assets/avatar.png';
---

<aside class="not-content relative group border border-solid border-accent-200 p-4 pb-0 rounded-xl overflow-hidden">
	<div class="">
		<a href="https://calendar.app.google/rCv6nBVZfmZewF6G7" target="_blank">
			<h2 class="text-lg text-gray-600 dark:text-gray-200 group-hover:text-black dark:group-hover:text-white hover:underline transition-all duration-300 ease-in-out">
				Want to collaborate on a project?
			</h2>
		</a>
		<p class="text-sm w-[60%] pb-4 text-gray-500 dark:text-gray-400">
			Let's schedule a call to discuss your next big idea <b>→</b>
		</p>
	</div>
	<div class="text-right absolute bottom-0 right-0">
		<img src={Avatar.src} alt="" width="120" height="auto" class="-mb-5 group-hover:translate-y-[-4px] transition-all duration-300 ease-in-out scale-x-[-1]"/>
	</div>
</aside>
