---
const { project } = Astro.props;
---

<script>
import sdk from "@stackblitz/sdk";

class LiveEditor extends HTMLElement {
  constructor() {
    super();

    sdk.embedProjectId(
      "live-editor",
      `${this.dataset.project}`,
      {
        forceEmbedLayout: true,
        openFile: "src/App.jsx,src/components/EffectLogger.jsx",
        theme: "dark",
        view: "default",
        height: 600,
        hideExplorer: true,
        hideNavigation: true,
      }
    );
  }
}

customElements.define("live-editor", LiveEditor);
</script>

<live-editor data-project={project} class="block mb-4">
  <div id="live-editor"></div>
</live-editor>

<style is:inline>
  .sl-markdown-content :is(img, picture, video, canvas, svg, iframe):not(:where(.not-content *)) {
    display: block;
    max-width: 100%;
    height: 600px !important;
  }
</style>