@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--sl-color-accent-low: #3b0764;
	--sl-color-accent: #a855f7;
	--sl-color-accent-high: #d8b4fe;
	--purple-hsl: 255, 60%, 60%;
	--overlay-blurple: hsla(var(--purple-hsl), 0.2);
	 --sl-font-system: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"
}

:root[data-theme='light'] {
	--sl-color-accent-low: #e9d5ff;
	--sl-color-accent: #9333ea;
	--sl-color-accent-high: #a855f7;
	--purple-hsl: 255, 85%, 65%;
}

code {
	font-family: monospace;
	font-size: 0.875rem !important;
	color: #f87171
}

[data-theme='light'] code {
	color: #dc2626
}

.content-panel .sl-container footer.sl-flex {
  display: none;
}

[data-has-hero] .page {
	background:
		linear-gradient(215deg, var(--overlay-blurple), transparent 40%),
		radial-gradient(var(--overlay-blurple), transparent 40%) no-repeat -60vw -40vh / 105vw 200vh,
		radial-gradient(var(--overlay-blurple), transparent 65%) no-repeat 50% calc(100% + 20rem) /
			60rem 30rem;
}

[data-has-hero] header {
	border-bottom: 1px solid transparent;
	background-color: transparent;
	-webkit-backdrop-filter: blur(1rem);
	backdrop-filter: blur(1rem);
}

[data-has-hero] .hero > img {
	filter: drop-shadow(0 0 3rem var(--overlay-blurple));
}

.sl-markdown-content tr td:first-child {
	min-width: 9rem
}

.sl-markdown-content #key-topics + table tr td:first-child {
	min-width: auto
}

.sl-markdown-content #key-topics + table tr td:nth-child(2) {
	min-width: 9rem
}

@media (min-width: 72rem) {
  main > .content-panel .sl-container {
      margin: 0 auto;
  }
}