@tailwind base;
@tailwind components;
@tailwind utilities;

/*
  Add additional Tailwind styles to this file, for example with @layer:
  https://tailwindcss.com/docs/adding-custom-styles#using-css-and-layer
*/

code {
  font-family: "IBM Plex Mono", monospace;
}

@media (min-width: 72rem) {
  main > .content-panel .sl-container {
      margin: 0 auto;
  }
}